<div class="topbar-message">Craft. Share. Learn. Create. Repeat.</div>

<nav class="navbar">
  <div class="nav-left">
    <a href="index.html">Home</a>

    <div class="dropdown">
      <button class="dropbtn">Explore ▼</button>

      <div class="dropdown-content">
        <a href="videos.html">Videos</a>
        <a href="patterns.html">Patterns</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Upload ▼</button>

      <div class="dropdown-content">
        <a href="create-video.html">Upload Video</a>
        <a href="create-pattern.html">Upload Pattern</a>
      </div>
    </div>
  </div>

  <a href="index.html" class="logo">Stitch Happens</a>

  <div class="nav-right">
    <a href="favorites.html">Favorites</a>
    <a href="profile.html">Profile</a>
  </div>
</nav>
